<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STUDENTS</title>
</head>
<body>

    {% extends 'index.html' %}
    {% block content %}

    <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
    <ul>
        {% for usr in users %}
        <li>Nom: {{ usr.nom }}</li>
        <li>Cognoms: {{ usr.cognom1 }} {{ usr.cognom2 }}</li>
        <li>Correu: {{ usr.correu }}</li>
        <li>Curs: {{ usr.curs }}</li>
        <li>Moduls: {{ usr.moduls }}</li>
        <br><br>
        {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>